# Ignore Visual Studio files
.vs/
*.csproj.user

# Ignore build files
bin/
obj/
*.dll
*.exe
*.pdb

# Ignore other system-specific files
.DS_Store
Thumbs.dbobj/
Booking_Dance_Project_API/cursusprojectinternship-*.json
Booking_Dance_Project_API/appsettings.json\


Booking_Dance_Project_API/appsettings.json
