# Ignore Visual Studio files
.vs/
*.csproj.user

# Ignore build files
bin/
obj/
*.dll
*.exe
*.pdb

# Ignore other system-specific files
.DS_Store
Thumbs.dbobj/

*.json
# Bỏ qua file chứa credentials
Booking_Dance_Project_API/cursusprojectinternship-62f5e39c9095.json
Booking_Dance_Project_API/appsettings.json
.env

